* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1105px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  position: relative;
  background-color: #000235;
  font-family: "Roboto", sans-serif;
}

body.locked {
  overflow: hidden;
}

.main__lights {
  position: relative;
}

.main__lights-1 {
  position: absolute;
  width: 628px;
  height: 628px;
  left: calc(50% - 314px - 250px);
  top: -416px;
  background: #9090dc;
  opacity: 0.3;
  -webkit-filter: blur(162px);
          filter: blur(162px);
  right: 100px;
  bottom: 80px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

nav {
  overflow: hidden;
}

.navbar {
  margin-top: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo a {
  color: white;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 67px;
}

.menu__item {
  margin-left: 25px;
}

.menu__item:hover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.menu__item-link {
  padding: 20px 5px;
  position: relative;
  z-index: 10;
  color: white;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 138% */
  text-transform: capitalize;
  color: #ffffff;
}

.menu__item-link:hover {
  color: #8080d7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.burger {
  display: none;
  cursor: pointer;
}

.Discover {
  margin-top: 87px;
}

.discover__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
}

.discover__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.discover__menu-title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 83px;
  line-height: 101%;
  /* or 84px */
  text-transform: capitalize;
  color: #ffffff;
  max-width: 458px;
  padding-bottom: 30px;
}

.discover__menu-subtitle {
  font-family: "Roboto";
  font-style: normal;
  max-width: 359px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 138% */
  padding-bottom: 50px;
  color: #ffffff;
  padding-bottom: 50px;
}

.discover__menu-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover__menu-button-2 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 138% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: 2px solid #97d5d5;
  border-radius: 83px;
  color: #ffffff;
  padding: 22px 64px 22px 64px;
}

.discover__menu-button-2:hover {
  background-color: #9090dc0d;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.discover__menu-button-2:active {
  background-color: #7474f72f;
  border: 2px solid #1eff0000;
}

.discover__menu-button-1 {
  background: #9090dc;
  border-radius: 83px;
  padding: 22px 64px 22px 64px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 138% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.discover__menu-button-1:hover {
  background-color: #9090dccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.discover__menu-button-1:active {
  background-color: #7474f76e;
}

.header-img {
  width: 539px;
}

.discover__buttons-bg {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-width: 236px;
  white-space: nowrap;
}

.feauteredon {
  padding-top: 100px;
}

.feauteredon_content-menu {
  padding: 12px 53px 12px 53px;
  background: rgba(99, 88, 189, 0.19);
  opacity: 0.73;
  border-radius: 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feauteredon__content-title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 138% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 13px;
}

.feauteredon__img-1 {
  max-width: 202px;
}

.feauteredon__img-2 {
  max-width: 180px;
}

.feauteredon__img-3 {
  max-width: 73px;
}

.feauteredon__img-4 {
  max-width: 123px;
}

.analytics {
  padding-top: 81px;
}

.analytics__content {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.analytics__main_title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 138% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #aad9d9;
  padding-bottom: 9px;
}

.analytics__main_subtitle {
  max-width: 493px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 57px;
  line-height: 101%;
  /* or 58px */
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 9px;
}

.analytics__main_text {
  max-width: 488px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 138% */
  color: #ffffff;
  padding-bottom: 23px;
}

.analytics__main_button {
  cursor: pointer;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 138% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 22px 63px 22px 53px;
  background: #9090dc;
  border-radius: 83px;
  max-width: 331px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
}

.analytics__main_button:hover {
  background-color: #9090dccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.analytics__main_button:active {
  background-color: #7474f76e;
}

.analytics-img {
  max-width: 470px;
}

.tesimonials {
  padding-top: 60px;
}

.tesimonials__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tesimonials__info {
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  text-align: center;
  max-width: 500px;
}

.tesimonials__info_title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 138% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #aad9d9;
}

.tesimonials__info_subtitle {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 57px;
  line-height: 101%;
  /* or 58px */
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.tesimonials__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 14px;
}

.tesimonials__blocks_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  width: 345px;
  background: #0e0e48;
  border-radius: 20px;
}

.tesimonials__item {
  text-align: center;
}

.tesimonials__item_img {
  top: -55px;
  position: absolute;
}

.tesimonials__item_img img {
  max-width: 123px;
  mix-blend-mode: luminosity;
}

.tesimonials__title {
  /* Subheading */
  padding-top: 81px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 138% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.tesimonials__text {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 115%;
  /* or 18px */
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 29px;
  max-width: 269px;
}

.app__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 75px;
  gap: 55px;
}

.app__main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.app__title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 138% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #aad9d9;
}

.app__subtitle {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 57px;
  line-height: 101%;
  /* or 58px */
  text-transform: capitalize;
  color: #ffffff;
}

.app__text {
  color: white;
  padding-bottom: 35px;
}

.app__button {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 138% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  background: #9090dc;
  border-radius: 83px;
  padding: 22px 56px;
  max-width: 331px;
  white-space: nowrap;
}

.app__button:hover {
  background-color: #9090dccc;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.app__button:active {
  background-color: #7474f76e;
}

.app__img img {
  max-width: 493px;
}

.part__main {
  margin: 0 auto;
  margin-top: 66px;
  max-width: 1063px;
  background: -o-linear-gradient(172.31deg, #aad9d9 -9.79%, #9090dc 84.42%, #7d7ddc 84.42%);
  background: linear-gradient(277.69deg, #aad9d9 -9.79%, #9090dc 84.42%, #7d7ddc 84.42%);
  border-radius: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part__main_title {
  padding-top: 57px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 138% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0e0e48;
  padding-bottom: 24px;
}

.part__main_subtitle {
  padding-bottom: 59px;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 900;
  font-size: 57px;
  line-height: 101%;
  /* or 58px */
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  max-width: 447px;
}

.part__main_button {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 138% */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 22px 54px;
  background: #0e0e48;
  border-radius: 83px;
  white-space: nowrap;
}

.padding-b {
  padding-bottom: 30px;
}

footer {
  display: block;
}

.footer {
  padding-top: 136px;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__main_logo {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
}

.footer__main_krypto {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
}

.footer__main_market {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
}

.footer__main_contact {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ffffff;
}

.krypto__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  /* or 194% */
  color: #ffffff;
}

.market__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  /* or 194% */
  color: #ffffff;
}

.contact__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  /* or 194% */
  color: #ffffff;
}

.join {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
}

.join__text {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 31px;
}

.join__input-block_input {
  background: #11124b;
  border-radius: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  /* identical to box height, or 194% */
  color: #ffffff;
  opacity: 0.67;
  outline: none;
  margin-right: 5px;
  padding: 10px 10px 10px 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.join__input_button {
  background: #9090dc;
  border-radius: 70px;
  padding: 12px 33px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.krypto__item-title {
  padding-bottom: 10px;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1300px) {
  .footer__main {
    gap: 80px;
  }
}

@media (max-width: 1130px) {
  .tesimonials__blocks_item {
    width: 290px;
  }

  .tesimonials__blocks_item {
    gap: 5px;
  }

  .tesimonials__item_img img {
    max-width: 90px;
  }

  .tesimonials__item_img {
    top: -35px;
  }

  .tesimonials__title {
    font-size: 14px;
  }

  .tesimonials__text {
    font-size: 11.2px;
  }
}

@media (max-width: 1080px) {
  .footer__main_logo {
    display: none;
  }

  .join__text {
    font-size: 18px;
  }

  .join__input-block_input {
    padding: 5px 5px 5px 26px;
  }
}

@media (max-width: 1040px) {
  .analytics__main_subtitle {
    font-size: 40px;
  }
}

@media (max-width: 1024.98px) {
  .header-img {
    width: 420px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }

  .navbar {
    margin-top: 0px;
  }

  .menu {
    gap: 90px;
  }

  .menu__item-link {
    font-size: 40px;
    padding: 20px 10px;
  }

  .discover__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    gap: 5px;
  }

  .discover__menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .feauteredon_content-menu {
    gap: 90px;
  }

  .tesimonials__blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
  }

  .app__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 15px;
  }

  .app__button {
    margin: 0 auto;
  }
}

@media screen and (max-width: 991.98px) {
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 22;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 102;
    cursor: pointer;
  }

  .burger.active-burger:before {
    background: "white";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active-burger:after {
    background: "white";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active-burger span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: "white";
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: "white";
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .menu__item {
    margin-top: 15px;
  }

  .menu__item-link {
    color: white;
  }
}

@media (max-width: 969px) {
  .feauteredon_content-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .feauteredon__content-title {
    text-align: center;
  }
}

@media (max-width: 967px) {
  .feauteredon_content-menu {
    gap: 40px;
  }
}

@media (max-width: 900px) {
  .feauteredon__img-1 {
    max-width: 161.6px;
  }

  .feauteredon__img-2 {
    max-width: 144px;
  }

  .feauteredon__img-3 {
    max-width: 58.4px;
  }

  .feauteredon__img-4 {
    max-width: 98.4px;
  }

  .analytics-img {
    max-width: 300px;
  }
}

@media (max-width: 868px) {
  .analytics__main_button {
    padding: 22px 30px 22px 30px;
  }
}

@media (max-width: 867px) {
  .footer__main {
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .feauteredon__img-1 {
    max-width: 121.2px;
  }

  .feauteredon__img-2 {
    max-width: 108px;
  }

  .feauteredon__img-3 {
    max-width: 43.8px;
  }

  .feauteredon__img-4 {
    max-width: 73.8px;
  }

  .footer__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }

  .analytics__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }

  .analytics__main {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .analytics__main {
    margin: 0 auto;
  }

  .app__subtitle {
    font-size: 37px;
  }

  .app__button {
    font-size: 15px;
    padding: 11px 25px;
  }

  .app__img img {
    max-width: 300px;
  }

  .part__main_subtitle {
    font-size: 34.2px;
  }
}

@media (max-width: 727px) {
  .footer__main {
    gap: 100px;
  }

  .join__text {
    text-align: center;
  }
}

@media (max-width: 531px) {
  .feauteredon_content-menu {
    gap: 20px;
  }
}

@media (max-width: 521px) {
  .discover__menu-buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}

@media (max-width: 473px) {
  .footer__main {
    gap: 30px;
  }

  .join__input-block {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
  }
}

@media (max-width: 471px) {
  .feauteredon__img-1 {
    max-width: 101px;
  }

  .feauteredon__img-2 {
    max-width: 90px;
  }

  .feauteredon__img-3 {
    max-width: 36.5px;
  }

  .feauteredon__img-4 {
    max-width: 61.5px;
  }
}

@media (max-width: 459px) {
  .discover__menu-title {
    font-size: 60px;
  }
}

@media (max-width: 425px) {
  .feauteredon {
    padding-top: 40px;
  }

  .feauteredon_content-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 12px 13px 12px 13px;
    background: none;
  }

  .feauteredon__img-1 {
    max-width: 121.2px;
  }

  .feauteredon__img-2 {
    max-width: 108px;
  }

  .feauteredon__img-3 {
    max-width: 43.8px;
  }

  .feauteredon__img-4 {
    max-width: 73.8px;
  }
}

@media (max-width: 419px) {
  .header-img {
    max-width: 310px;
  }
}

@media (max-width: 390px) {
  .analytics-img {
    max-width: 250px;
  }
}

@media (max-width: 380px) {
  .join__input-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}

@media (max-width: 350px) {
  .header-img {
    max-width: 260px;
  }
}

@media (max-width: 320px) {
  .part__main_button {
    padding: 22px 30px;
  }
}

@media (max-width: 290px) {
  .analytics-img {
    max-width: 200px;
  }
}